---
layout: index
title: Biobags by Porter Packaging
description: 'Biobags are made from sustainable, renewable plant materials such as sunflowers, corn, and potatoes. This makes them fully compostable and completely degradable in soil or water.'
---

<section id="home" class="full-screen centered-content fade-wrapper">
    <div class="container col-6 right-align fade-content">
        <h1 class="main-title font-biobags"><span class="no-js-fallback">biobags</span><span id="title-bio"></span><span id="title-bags"></span></h1>
        <div id="porter-logo" class="logo-wrapper">
            <p class="message">by</p>
            <a href="http://porterpackaging.co.nz" target="_blank" class="logo">
                {% include porter-logo.html %}
            </a>
        </div>
    </div>
    <div class="arrow-wrapper arrow-wrapper-bottom">
        <div id="down-arrow" class="arrow"></div>
    </div>
</section>

<section id="message-1" class="full-screen centered-content fade-wrapper">
    <div class="container col-8 center-align fade-content">
        <p class="message">Our bags are made from<br>sustainable, renewable plant materials<br>such as sunflowers, corn, and potatoes.</p>
    </div>
</section>

<section id="message-2" class="full-screen centered-content fade-wrapper">
    <div class="container col-8 center-align fade-content">
        <p class="message">That makes them fully compostable<br>and completely degradable in soil or water.</p>
    </div>
</section>

<section id="contact" class="full-screen centered-content fade-wrapper">
    <div class="container col-6 center-align fade-content">
        <div id="contact-wrapper">
            <div id="contact-form" class="contact-section">
                <p class="message">Let us help - get in touch.</p>
                <form id="form-contact" method="post" action="/success" class="full-width form-animated" autocomplete="off">
                    <input name="Email Address" class="fade-in" type="email" placeholder="email">
                    <input name="Company Name" class="fade-in" type="text" placeholder="company name">
                    <input name="Name" class="fade-in" type="text" placeholder="name">
                    <textarea name="Message" class="fade-in" placeholder="message"></textarea>

                    <input type="hidden" name="_to" value="info@porterpackaging.co.nz">
                    <input type="text" name="_gotcha" style="display: none;">

                    <input class="fade-in btn" type="submit" value="submit">
                </form>
            </div>
            <div id="contact-loading" class="contact-section contact-section-pane">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div id="contact-complete" class="contact-section contact-section-pane">
                <p class="message">Thanks for your message.<br>You'll hear back from us shortly.</p>
            </div>
        </div>
        <div class="social-icons fixed-bottom-right">
            <a href="https://www.instagram.com/biobags_nz/" target="_blank" class="social-link social-link-instagram">
                {% include instagram-logo.html %}
            </a>
            <a href="https://www.facebook.com/BioBags-1675647492479812/" target="_blank" class="social-link social-link-facebook">
                {% include facebook-logo.html %}
            </a>
            <a href="https://www.linkedin.com/company/porter-packaging" target="_blank" class="social-link social-link-linkedin">
                {% include linkedin-logo.html %}
            </a>
        </div>
    </div>
</section>