---
layout: index
title: Biobags
---

<section id="home" class="full-screen centered-content">
    <div class="container col-6 right-align">
        <h1 class="main-title font-biobags"><span class="no-js-fallback">biobags</span><span id="title-bio"></span><span id="title-bags"></span></h1>
        <div id="porter-logo" class="logo-wrapper">
            <p class="message">by</p>
            <a href="" target="_blank" class="logo">
                {% include porter-logo.html %}
            </a>
        </div>
    </div>
</section>

<section id="message-1" class="full-screen centered-content fade-wrapper">
    <div class="container col-8 center-align fade-content">
        <p class="message">Our bags are made from<br>sustainable, renewable plant materials<br>such as sunflowers, corn, and potatoes.</p>
    </div>
</section>

<section id="message-2" class="full-screen centered-content fade-wrapper">
    <div class="container col-8 center-align fade-content">
        <p class="message">That makes them fully compostable<br>and completely degradable in soil or water.</p>
    </div>
</section>

<section id="contact" class="full-screen centered-content fade-wrapper">
    <div class="container col-6 center-align fade-content">
        <p class="message">Let us help - get in touch.</p>
        <form id="contact-form" class="full-width" autocomplete="off">
            <input class="fade-in" type="email" placeholder="email">
            <input class="fade-in" type="text" placeholder="company name">
            <input class="fade-in" type="text" placeholder="name">
            <textarea class="fade-in" placeholder="message"></textarea>
            <input class="fade-in btn" type="submit" value="submit">
        </form>
        <div class="social-icons fixed-bottom-right">
            <a href="" target="_blank" class="social-link social-link-facebook">
                {% include facebook-logo.html %}
            </a>
            <a href="" target="_blank" class="social-link social-link-facebook">
                {% include linkedin-logo.html %}
            </a>
        </div>
    </div>
</section>