@font-face {
    font-family: 'Circular Std';
    src: url('font/CircularStd-Bold.eot');
    src: url('font/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/CircularStd-Bold.woff') format('woff'),
        url('font/CircularStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
	font-family: 'Adelle';
	src: url('font/Adelle-Regular.eot');
	src: url('font/Adelle-Regular.eot?#iefix') format('embedded-opentype'),
		url('font/Adelle-Regular.woff') format('woff'),
		url('font/Adelle-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}