---
layout: index
title: Biobags by Porter Packaging
description: 'Biobags are made from sustainable, renewable plant materials such as sunflowers, corn, and potatoes. This makes them fully compostable and completely degradable in soil or water.'
---

<section id="contact" class="full-screen centered-content fade-wrapper">
    <div class="container col-6 center-align fade-content">
        <div id="contact-wrapper">
            <div class="contact-section contact-section-pane">
                <p class="message">Thanks for your message.<br>You'll hear back from us shortly.</p>
            </div>
        </div>
        <div class="social-icons fixed-bottom-right">
            <a href="https://www.instagram.com/biobags_nz/" target="_blank" class="social-link social-link-instagram">
                {% include instagram-logo.html %}
            </a>
            <a href="https://www.facebook.com/BioBags-1675647492479812/" target="_blank" class="social-link social-link-facebook">
                {% include facebook-logo.html %}
            </a>
            <a href="https://www.linkedin.com/company/porter-packaging" target="_blank" class="social-link social-link-linkedin">
                {% include linkedin-logo.html %}
            </a>
        </div>
    </div>
</section>